{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "css" %}
<link href="{% static "bbcnewsticker/styles/ticker-style.css" %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "bbcnewsticker/js/jquery.ticker.js" %}" type="text/javascript"></script>
{% endaddtoblock %}

{% if posts %}

<ul id="js-news" class="js-hidden">
	{% for post in posts %}
	<li class="news-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>

<script type="text/javascript">
    $(function () {
        $('#js-news').ticker();
    });
</script>
{% endif %}
